<div class="row">
  <h3>Your groups</h3>
  <hr>
  <div class="row">
    <% @groups.each do |group| %>
      <div class="col-md-4">
        <div class="well">
          <div class="row">
            <div class="col-md-9">
              <p><b><%= link_to(truncate(group.course.name, length: 60), group_path(group.id)) %></b></p>
            </div>
            <div class="col-md-3">
              <h3><%= group.users.size %> <i class="fa fa-user-circle-o"></i></h3>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
