<% if @post.user_id == current_user.id %>
  <div class="col-md-8 col-md-offset-2">
    <div class="well">
      <h1>Edit Post</h1>
      <%= render "form" %>
    </div>
  </div>
<% else %>
  <% flash.now[:danger] = "You can not edit this post." %>
  <%= link_to "Back", root_path %>
<% end %>
