@import "bootstrap-sprockets";
@import "bootstrap";

.txt-content {
  resize: vertical;
}

.comment {
  margin-bottom: 20px;
}

.username {
  font-weight: bold;
}

.time-ago {
  color: #8a7a7a;
  font-size: 13px;
}

td {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
